table {
    border: solid 1px #dadada;
    width: 100%;
    clear: right;
    table-layout: fixed;
}

thead {
    background-color: #e5e5e5;
    font-weight: bold;
    color: #000000;
}

td, th {
    padding: 5px 10px;
    text-align: left;
	vertical-align: center;
}

td.number, th.number {
	width: 75px;
	text-align: right;
}

td.action, th.action {
	width: 16px;
}

td.leader, th.leader {
	width: 75px;
}

td.name, th.name {
	width: 300px;
}

th {
	cursor: pointer;
}

th.nosort {
	cursor: text;
}

ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

ul li {
    display: block;
    margin-left: 10px;
	margin-top: 5px;
	position: relative;
}

input[type="text"], select {
    border: 1px solid #ddd;
    padding: 3px 2px 3px 3px;
    width: 150px;
}

input[type="button"] {
	margin-left: 212px;
}

.prompt-text {
    font-style: italic;
    color: #A7A7A7;
    position: absolute;
    padding-top: 4px;
    padding-left: 13px;
}

#Crew {
	margin-bottom: 20px;
	height: 250px;
	overflow: auto;
}

.disabled {
	font-style: italic;
}

#Total {
	margin-top: 5px;
	margin-left: 5px;
}

#Total label {
	width: auto;
}

#Total input {
	width: 35px;
}

#HeaderBar {
	background-color: #E5E5E5;
	width: 100%;
	height: 1em;
	padding: 3px 0 3px 0;
	border-bottom: solid black 2px;
}

#HeaderBar a {
	padding-right: 10px;
	float: right;
}

#HeaderBar span {
	padding-left: 10px;
}

#HelpDialog div {
	margin-bottom: 7px;
}

.add {
	background: url('../images/plus_small.png') no-repeat right 2px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.remove {
	background: url('../images/minus_small.png') no-repeat right 2px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.set-as-leader {
	background: url('../images/crown.png') no-repeat right 2px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 3px;
}

.is-leader {
	background: url('../images/check.gif') no-repeat 13px 5px;
	margin-left: 3px;
}

.remove-filter {
	background: url('../images/delete_16x16.png') no-repeat center 6px;
	width: 16px;
	height: 21px;
	display: inline-block;
}

