body {
	background: #EFF5EE;
}

table {
    border: solid 1px #dadada;
	background: #EFF5EE;
	width: 100%;
    clear: right;
    table-layout: fixed;
}

thead {
    background-color: #e5e5e5;
    font-weight: bold;
    color: #000000;
}

td, th {
    padding: 5px 10px;
    text-align: left;
	vertical-align: center;
}

td.number, th.number {
	width: 75px;
	text-align: right;
}

td.action, th.action {
	width: 16px;
}

td.leader, th.leader {
	width: 48px;
}

td.name, th.name {
	width: 300px;
}

td.name span.upgrade {
	padding-left: 30px;
	display: inline-block;
}

th {
	cursor: pointer;
}

th.nosort {
	cursor: text;
}

tr.highlight {
	background-color: rgba(255,0,0,0.2);;
}

ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

#FilterList {
	max-width: 310px;
}

#full-list {
    height: 88%;
    overflow-y: scroll;
}

ul li {
    display: block;
    margin-left: 10px;
	margin-top: 5px;
	position: relative;
}

fieldset {
    border: 2px solid #004f7b;
    margin: 10px 0 20px;
    padding: 3px;
}

.title {
	font-weight: bold;
	font-size: 1.2em;
}

span.label {
	font-weight: bold;
}

input[type="text"], select {
    border: 1px solid #ddd;
    padding: 3px 2px 3px 3px;
	width: 115px;
}

select.notOrIs {
	width: 55px;
}

select.search-field {
	width: 98px;
}

.prompt-text {
    font-style: italic;
    color: #A7A7A7;
    position: absolute;
    padding-top: 4px;
    padding-left: 13px;
}

.crew-list tr {
	cursor: move;
}

.disabled {
	font-style: italic;
}

.criteria-buttons {
	text-align: right;
}

.crew-list .total div {
	margin-bottom: 5px;
	margin-left: 10px;
}

.crew-list .total span.label {
	width: 130px;
	text-align: right;
	display: inline-block;
	padding-right: 5px;
}

.crew-list .total input[type="number"] {
	width: 40px;
	padding: 2px;
	margin-bottom: 0;
}

#HeaderBar {
	background-color: #E5E5E5;
	width: 100%;
	height: 1em;
	padding: 3px 0 3px 0;
	border-bottom: solid black 2px;
}

#HeaderBar a {
	padding-right: 10px;
	float: right;
}

#HeaderBar span {
	padding-left: 10px;
}

#HelpDialog {
	display: none;
}

#HelpDialog div {
	margin-bottom: 7px;
}

.add {
	background: url('../images/plus_small.png') no-repeat right 2px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.remove {
	background: url('../images/minus_small.png') no-repeat right 2px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.set-as-leader {
	background: url('../images/crown.png') no-repeat right 2px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 3px;
}

.is-leader {
	background: url('../images/check.gif') no-repeat 13px 5px;
	margin-left: 3px;
}

.remove-filter {
	background: url('../images/delete_16x16.png') no-repeat center 6px;
	width: 16px;
	height: 21px;
	display: inline-block;
	float: right;
}

.crew-Buttons {
	margin-top: 5px;
}

.menu {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	position: absolute;
	top: 16px;
	background-color: white;
	z-index: 1;
}

.menu li {
	width: 100%;
}

.menu li:hover {
	background-color: #aaaaaa;
	cursor: pointer;
}

.menu li a:hover {
	cursor: pointer !important;
}

.menu li span.disabled {
	float: left;
	padding: 0.5em 1em;
	cursor: not-allowed !important;
}

.open-menu-button {
	margin-top: 4px;
	background: url('../images/down_arrow_24x24.png') no-repeat center;
	padding: 0 !important;
	margin-right: 5px;
	width: 24px;
	height: 24px;
	cursor: pointer !important;
}

.default-crew {
	margin-top: 4px;
	background: url('../images/green_check_24x24.png') no-repeat center;
	width: 24px;
	height: 24px;
	float: left;
	display: inline-block;
}

.plain-text-crew {
	margin-top: 10px;
	width: 100%;
	height: 250px;
}

input[type="file"] {
	display: none;
}

.crew-buttons label {
	background-color: buttonface;
	border: 2px outset buttonface;
	color: buttontext;
	text-align: center;
	padding: 1px 6px;
	-webkit-appearance: button;
	-moz-appearance: button;
	font: -webkit-small-control;
	font-size: 1em;
	font-family: inherit;
}

.crew-buttons form {
	display: inline;
}

.added-to-crew {
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ddd;
    padding: 7px;
}

.ui-tabs-nav li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
