td, th {
	padding: 0px;
}

td.action, th.action {
	padding: 5px 5px;
}

td.name, th.name {
	width: 80px;
}

td.number, th.number {
	width: 20px;
}

td.filler, th.filler {
	width: 0px;
}

td.faction, th.faction {
	overflow: hidden;
	width: 40px;
}

td.extras, th.extras {
	width: 60px;
}

th.extras, th.number {
	overflow: hidden;
}

#Crew table {
	width: auto;
}

#Crew td.number, #Crew th.number {
	width: 40px;
}

.ui-tabs-panel {
	padding: 0.5em !important;
}

ul li {
	margin-left: 0;
}

#FilterList {
	max-width: 301px;
}