<?xml version='1.0' encoding='utf-8'?>
<widget id="com.geeksong.MalifauxModels" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Malifaux Models</name>
    <description>
        Android app using PhoneGap to access MalifauxCrossRefrence site.
    </description>
    <author email="rythos42@gmail.com" href="https://github.com/rythos42">
		Craig Fleming
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="arcanist-96-xhdpi.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/arcanist-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/arcanist-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/arcanist-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/arcanist-96-xhdpi.png" />
	<gap:splash src="res/screens/android/screen-xhpdi-portrait.9.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="res/screens/android/screen-hpdi-portrait.9.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="res/screens/android/screen-mpdi-portrait.9.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/screens/android/screen-lpdi-portrait.9.png" gap:platform="android" gap:density="ldpi" />
    <access origin="http://127.0.0.1*" />
	<!-- for Android -->
	<feature name="SocialSharing">
		<param name="android-package" value="nl.xservices.plugins.SocialSharing" />
	</feature>
</widget>
